#header small{
    margin-left: 20px;
}
#footer {
    background: #ccc;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 110px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #f5f5f5;
}
.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.navbar-nav li.active>a { background: #F8F8F8 }
.table-clear>thead>tr>th, .table-clear>tbody>tr>th, .table-clear>tfoot>tr>th, .table-clear>thead>tr>td, .table-clear>tbody>tr>td, .table-clear>tfoot>tr>td {
    border-top: none;
}
.event {
    margin: 10px 0;
    background: #F5F5F5;
    padding: 10px;
}
